h1{
    color:rgb(25, 0, 255);
    text-align: center;
}

#grille{
    display: grid;
    grid-template-columns: 50% 50%;
}

.paire{
    background-color: black;
    color: white;

}

.impaire{
    background-color: red;
}

div [class]{
    border: 1px solid #ccc;
    text-align: center;
    padding: 10px;
}